.banner {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, var(--color-blue-2)15%, var(--color-blue-3) 100%);
    color: white;
    padding-top: 70px;
    text-align: center;
}

.banner .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 5px;
}

.banner .box .paragraph {
    margin: 15px 0;
    font-size: var(--font-size-5);
    font-weight: 400;
    color: #fff;
}

b {
    background: linear-gradient(90deg, #fff, #007bff, #fff);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: b 3s infinite alternate linear;
}

@keyframes b {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.typing-effect {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    /* Espaçamento entre as letras */
    animation: blink-caret .75s step-end infinite;
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }
}

.cursor {
    display: inline-block;
    width: 8px;
    /* Ajuste conforme necessário */
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.banner .box .title1 {
    font-size: var(--font-size-3);
}

.banner .box .title2 {
    font-size: var(--font-size-1);
    display: block;
    max-width: 550px;
    margin: 15px 0;
}

.banner .box .buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0;
    width: 100%;
    justify-content: space-evenly;
}

.banner .box .buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    min-width: 170px;
    border-radius: 35px;
    margin: 0 5px 15px;
    font-size: var(--font-size-4);
    font-weight: 700;
    background: var(--color-blue-1);
    color: #fff;
    text-wrap: nowrap;
    text-decoration: none;
}

.banner .box .buttons a:hover {
    background: var(--color-blue-2);
}

.banner .box .buttons a i {
    margin-right: 5px;
}

/* ABOUT */
.text p img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 5px;
}

.about .box {
    display: flex;
    flex-direction: column;
    background: #333;
    padding-bottom: 40px;
}

.about .box .img {
    flex: 1;
    margin: 10px auto 20px;
}

.about .box .img img {
    width: 240px;
    border-radius: 50%
}

.about .box .text {
    flex: 2;
}

.about .box .text h2 {
    color: #fff;
    margin: 0 5px;
}

.about .box .text h3 {
    color: #fff;
    margin: 15px 5px;
}

.about .box .text p {
    margin: 15px 5px;
    text-align: justify;
    color: #fff;
}

.about .box .text a {
    color: var(--color-pink-1);
    font-weight: 400;
    margin: 0 5px;
}

/* Box skills */

.skills {
    background: #fff;
}

.skills .box h2 {
    color: #000;
    text-align: center;
    margin-top: 20px;
}

.skills .box
h4 {
    color: #000;
}

.skills .box h3 {
    margin: 5px;
    color: #000;
    font-size: var(--font-size-4);
    text-align: center;
}

.skills .box .items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 900px;
}

.skills .box .items .skill {
    width: 50%;
    padding: 30px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills .box .items .skill:hover {
    background: #d0f2ff;    
}

.skills .box .items .skill img, svg {
    width: 90px;
}

.skills .box .items .skill h4 {
    margin-top: 15px;
}


@media (min-width: 768px) {
    .about .box {
        flex-direction: row;
    }

    .text {
        margin: 40px 20px 0 0;
    }

    .about .box .img img {
        width: 80%;
        margin: 10px 10px;
    }

    .about .box .text {
        padding-left: 40px;
    }

    .skills .box .items .skill {
        width: 25%;
    }

    .skills .box .items .skill img, svg {
        width: 120px;
    }
}
