<main>
    <section id="banner" class="banner">
        <div class="box">
            <h1>
                <span class="title1" typing-effect>{{ typingText }}<span class="cursor">|</span></span>
                <span class="title2">Eu sou Matheus Camilo, <b>Programador apaixonado</b> por tecnologia.<br>Criando
                    soluções eficientes para a <b>web com códigos.</b></span>
            </h1>

            <p class="paragraph">Conheça mais sobre mim, minhas habilidades e projetos.</p>

            <div class="buttons">
                <a href="#about"><i class="material-symbols-outlined">
                        mood
                    </i>Sobre mim</a>
                <a href="#skills"><i class="material-symbols-outlined">
                        check_circle
                    </i>Habilidades</a>
            </div>
        </div>
    </section>

    <section id="about" class="container about">
        <div class="box">
            <div class="img">
                <img src="/assets/imgs/angular.png" alt="foto de matheus camilo">
            </div>
            <div class="text">
                <h2>Sobre mim</h2>

                <h3>Me chamo Matheus Camilo e estou em transição de carreira para a área de tecnologia, atualmente
                    cursando Análise e Desenvolvimento de Sistemas, estou no mercado de trabalho há mais de 10 anos.
                    Estou em busca de novas oportunidades como Programador e acredito que minhas habilidades e paixão
                    por tecnologia podem agregar valor à uma empresa.
                </h3>

                <p>
                    Possuo experiência em desenvolvimento Front-end e Back-end, com conhecimento em tecnologias como,
                    <b>HTML5</b>, <b>CSS3</b>, <b>Javascript</b>, <b>TypeScript</b>, <b>React</b>,
                    <b>Angular</b>,<b>ASP.NET</b>,<b>C#</b>, Banco de dados <b>SQL</b> e <b>API's
                        REST</b>. Além disso, estou em processo de aprendizado em <b>Ruby on Rails</b>.
                </p>

                <p>
                    Sou um profissional com aprendizado rápido, resiliência e boa comunicação, sempre focado em fornecer
                    soluções eficazes. Tenho conhecimento prático em Kanban e entendimento técnico de Scrum,
                    metodologias essenciais para a colaboração em equipes ágeis.
                </p>

                <p>
                    Tenho grande interesse em contribuir, ajudar sempre que possível e oferecer soluções personalizadas
                    e
                    escaláveis. Além disso, valorizo o trabalho em equipe e busco crescer junto com a empresa.
                </p>
                <a href="#contact">Entre em contato comigo!</a>
            </div>
        </div>
    </section>
</main>